/* export const breakpoints = {
    xs: "0px",
    sm: "600px",
    md: "900px",
    lg: "1200px",
    xl: "1536px",
}; */
body {
    background-color: #0A192F;
    margin: 0;
    width: 100vw;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* NAVBAR */
.navbarContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    align-items: center;
}

.link {
    color: #A8B2D1;
    font-family: 'Fira Code', monospace;
    margin-left: 40px;
    overflow-x: hidden;
    cursor: pointer;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #112C54;
    width: 65vw;
    position: fixed;
    top: 0;
    padding: 160px 0 0 40px;
    margin: 0;
    gap: 80px;
    z-index: 2;
    transition: right 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
    right: 0;
}

.inactive {
    right: -500px;
}

.hamburgerMenu {
    display: flex;
    flex-direction: column;
    width: 45px;
    gap: 8px;
    height: 45px;
    align-items: center;
    justify-content: center; 
    z-index: 3;
}

.hamburgerLine {
    width: 32px;
    height: 2px;
    background-color: #64FFDA;
}

.logoContainer {
    width: 50px;
    height: 50px;
    display: flex;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
    gap: 24px;
    width: 90vw;
    margin: 80px auto;
}

/* HEADER */
.headerTitleContainer {
    display: flex;
    flex-direction: column;
    font-family: "Raleway", "sans-serif";
    gap: 8px;
}

.headerTitleContainer h1 {
    color: #A8B2D1;
    font-size: 32px;}

.headerIntro {
    color: #64FFDA;
    font-size: 20px;
}

.headerSubtitle {
    color: #8892B0;
    font-size: 30px;
}  

.aboutContainer p {
    color: #8892B0;
    line-height: 28px;
    font-family: 'Lato', sans-serif;
}

.imageContainer {
    width: 200px;
    display: flex;
}

.imageContainer img {
    width: 100%;
}

@media (min-width: 900px){
    .navbarContainer {
        padding: 16px 24px;
    }

    .linksContainer{
        all: unset;
        list-style: none;
        display: flex;
        gap: 32px;
    }

    .hamburgerMenu {
        display: none;
    }

    .logoContainer {
        width: 60px;
        height: 60px;
    }
}